.main-aside {
    background-color: aquamarine;
    text-align: center;
    width: 200px;
    padding-top: 20px
}

.container {
    flex-grow: 1;
}

.menu {
    background-color: blue;
    text-align: center;
    padding: 20px;
}

.conteudo {
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
    height: 100vh;
}
